.lpOuterWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
    gap: 10px;

}

.lpOuterWrapper h1 {
    font-size: 100px;
    color: var(--text-alternate-color);
}

.lpInnerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    background: var(--background-container-color);
    border: var(--border-color) 2px solid;
    border-radius: 15px;

    padding: 10px;
    width: 800px;
}

.lpInnerWrapper img {
    height: 500px;
    width: 400px;

    border-radius: 15px;
    margin-right: 10px;
}

.lpLoginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1;

    gap: 25px;
}


#lpLoginButton {
    height: 50px;
    width: 300px;
    font-size: 25px;
}

#lpLoginButton:disabled{
    opacity: 50%;
    cursor: not-allowed;
}

.lpInputContainer {
    position: relative;
    width: 100%;
}


.lpFieldset {

    border: var(--border-color) 2px solid;
    border-radius: 15px;

    height: 70px;
    width: 350px;
    margin: 10px;

    color: var(--text-color);
}

.lpFieldset input {
    position: relative;
    top: -15px;

    background: transparent;
    border: transparent;

    height: 70px;
    width: 300px;
    padding: 5px;

    font-size: 15px;
}