/*CSS guide*/
/*0.1 IMPORTS*/
/*0.2 Colors*/

/*0.9 style reset*/
/*1.0 Main Styling*/
/*1.1 Base*/
/*1.2 Typography*/

/*0.1 IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&display=swap');

/*0.2 Colors*/
:root {
 --background-color: #e9eef4;
 --text-color: #666666;
 --title-color: #363636;
 --text-accent-color: #ff7600;
 --button-color: #FF1053

}


/*0.9 style reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*1.0 Main Styling*/
/*1.1 Base*/
body {
    font-family: "Manrope", sans-serif;
    background: var(--background-color);
}

/*1.2 Typography*/
h1, h2, h3 {
    font-family: "Bebas Neue", sans-serif;
}