.title-Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    gap:10px;
}

.titleHome{
    font-size: 100px;
    color: var(--text-alternate-color);
}

.underlineHome {
    text-decoration: underline;
}

.smallMpcContainerWrapper {
    display: flex;
    flex-direction: row;

}